<div class="user_content">
  <p class="col-md-4">
    <div class="row">
    <section class="user_info">
        <% if @user.image_name.file.nil? %>
          <%= image_tag "default_user.jpg", size:80 %>
        <% else %>
          <%= image_tag @user.image_name.url, size:80 %>
        <% end %>
        <%= @user.name %>
    </section>
    <section class="stats">
      <%= render 'follow_form' if logged_in? %>
    </section>
  </p>
  </div>
  <% if @user.microposts.any? %>
    <h3>投稿一覧 (<%= @user.microposts.count %>)</h3>
    <div class="microposts">
      <%= render @microposts %>
      <%= will_paginate @microposts %>
    </div>
  <% end %>
</div>
